@import "tailwindcss";

:root {
  --font-sans: var(--font-saira);
}

html {
  font-family: var(--font-sans), sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}