@import "tailwindcss";

:root {
  --font-sans: var(--font-saira);
}

html {
  font-family: var(--font-sans), sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* src/app/globals.css */

body {
  /* Updated hot-spot to center the 32x32 SVG */
  cursor: url("/custom-cursor.svg") 16 16, auto;
  scroll-behavior: smooth;
}

button,
a,
input[type="submit"] {
  /* You can use the same or a different custom cursor for interactive elements */
  cursor: url("/custom-cursor.svg") 16 16, pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
